html {
  background-color: lightgrey;
  background-image: url('/images/flags.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.round-info {
  height: 10vh;
}
