html {
  background-color: lightgrey;
  background-image: url('/images/flags.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.round-info {
  height: 8vh;
  width: 10vw;
  background-color: #ffe34ff0;
  border: 3px solid floralwhite;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  align-self: center;
}

.round-info p {
  margin: 5px 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.btn-modal {
  align-self: flex-end;
  padding: 0 5px;
  background-color: #ff474d
}

.end-container {
  display: flex;
  height: 100vh;
  align-items: center;
}
