.game-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.game-card-header {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
}

.game-card-header h3 {
  margin-bottom: 0;
  margin-top: 5px
}

.game-info {
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/pitch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 19px;
  font-weight:600;
  text-shadow: 2px 3px 1px #000;
  box-shadow: 0 0 15px 5px lightgrey inset;
}

.game-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.game-extras {
  text-align: center;
  align-self: center;
}

.game-interaction {
  background-color: rgba(255, 255, 255, 0.9);
  height: 70vh;
  width: 35vw;
  padding: 0 5px 0;
  font-size: 18px;
  border-radius: 4px;
  border: 3px solid floralwhite;
}

.round-score {
  text-align: right;
  margin-right: 10px
}

.hint-label {
  font-size: 15px;
}

.hint-label li {
  font-size: 17px
}

.game-hints {
  height: 45%;
  font-weight: bold;
}

.game-hints button {
  float: right;
  background-color: #ffe34ff0
}

.rendered-hints {
  padding-top: 10px;
}

li {
  margin: 10px;
}


@media all and (max-width: 375px) {
  .game-container {
    flex-direction: column;
  }

  .game-interaction {
    height: 50vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
  }

  .round-score {
    margin: 2px;
    font-size: 12px;
    text-align: left;
  }

  .game-info {
    width: 93vw;
    height: 35vh;
    font-size: 12px;
    margin-bottom: 10px
  }

  .game-info h3 {
    margin: 4px
  }

  .game-info p {
    margin: 6px
  }

  .game-card-header {
    margin-top: 15px;
    font-size: 14px;
  }

  .game-hints button {
    font-size: 12px;
    margin-top: 1px
  }

  .hint-label {
    font-size: 13px;
  }

  .rendered-hints {
    padding-top: 0px;
    font-size: 13px;
  }

  .input-container {
    margin-top: 30px
  }

  .input-container span {
    height: 5vh
  }

  .input-container p {
    font-size: 10px
  }

  .guess-inputs input {
    height: 20px;
    margin: 5px;
    font-size: 10px
  }

  .guess-inputs .btn {
    width: 25%;
    height: 25px;
    margin: 10px;
    font-size: 13px;
  }

  .fa-check-square {
    transform: scale(1);
  }

  .modal-content {
    font-size: 12px
  }

  .final-result {
    width: 45vw
  }
}
