.game-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.game-card-header {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
}

.game-card-header h3 {
  margin-bottom: 0;
  margin-top: 5px
}

.game-info {
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/pitch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 19px;
  font-weight:600;
  text-shadow: 2px 3px 1px #000;
  box-shadow: 0 0 15px 5px lightgrey inset;
}

.game-stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.game-extras {
  text-align: center;
  align-self: center;
}

.game-interaction {
  background-color: rgba(255, 255, 255, 0.9);
  height: 70vh;
  width: 35vw;
  padding: 0 5px 0;
  font-size: 18px;
  border-radius: 4px;
  border: 3px solid floralwhite;
}

.round-score {
  text-align: right;
  margin-right: 10px
}

.hint-label {
  font-size: 15px;
}

.hint-label li {
  font-size: 17px
}

.game-hints {
  height: 45%;
  font-weight: bold;
}

.game-hints button {
  float: right;
}

.rendered-hints {
  padding-top: 10px;
}

li {
  margin: 10px;
}
