.guess-inputs {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container p {
  margin: 0
}

.input-span {
  text-align: center;
  width: 80%
}


.guess-inputs input {
  width: 50%;
  height: 30px;
  margin: 10px
}

.guess-inputs .btn {
  width: 30%;
  height: 30px;
  margin: 10px
}

input {
  text-align: center;
  font-size: 15px;
}

input.correct:focus {
  outline-color: green
}

input.incorrect:focus {
  outline-color: red
}

span.input-span.incorrect i {
  transform: scale(0);
}

.fa-check-square {
  color: seagreen;
  transform: scale(2);
  padding-top: 3px;
  animation: transform 5s linear
}

.guess-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border: 2px solid black;
  box-shadow: 0 2px grey;
  font-size: 16px;
  font-family: inherit;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  box-shadow: 0 1px grey;
  top: 2px
}

.btn:active {
  box-shadow: none;
  top: 6px;
}

.btn-guess {
  background-color: #4adb5b
}

.btn-pass {
  background-color: #ff474d
}
