.guess-inputs {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container p {
  margin: 0
}

.input-span {
  text-align: center;
  width: 80%
}


.guess-inputs input {
  width: 50%;
  height: 30px;
  margin: 10px
}

.guess-inputs .btn {
  width: 30%;
  height: 30px;
  margin: 10px
}

input {
  text-align: center;
}

input.correct:focus {
  outline-color: green
}

input.incorrect:focus {
  outline-color: red
}

span.input-span.incorrect i {
  visibility: hidden
}

.fa-check-square {
  color: seagreen;
  transform: scale(2);
  padding-top: 3px;
}

.guess-btn-container {
  display: flex;
  justify-content: space-evenly;
}
